@font-face {font-family: BebasNeue; src: url('BebasNeue-Regular.otf');}

.body {
    background-image: url("mainoverlay.png");
    background-repeat:no-repeat;
    background-size: 1980px, 1080px;
    margin: 0px;
    height:1080px;
    width:1980px;
}

.Scoreboard {
    text-align: center;
    height: 125px;
}
    .Scoreboard > table {
        padding-top: 20px;
        padding-left:331px;
        height: inherit;
    }

    .Scoreboard > div {
        vertical-align: top;
        display: inline;
        height:inherit;
    }

.TournamentRound
{
    font-family:BebasNeue;
    text-align:center;
    font-size:30px;
    color:white;
    padding-top:10px;
}
#Player1NameHolder {
    min-width: 476px;
    max-width: 476px;
}

#Player1ScoreHolder {
    min-width: 68px;
}

#ScoreSeperator {
    min-width: 210px;

}

#Player2ScoreHolder {
    
    min-width: 68px;
    padding-right:5px;
}

#Player2NameHolder {
    min-width: 466px;
    max-width: 466px;
    
}


.PlayerNameText {
    font-family: BebasNeue;
    font-size: 70px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: none;
    display: inline;
    vertical-align: central;
}

.PlayerPrefixText {
    font-family: BebasNeue;
    font-size: 70px;
    letter-spacing: 2px;
    word-spacing: 2px;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(244,161,161,1) 100%);
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: uppercase;
    display: inline;
    vertical-align:central;
}
.PlayerPrefixText--Background {
    background: linear-gradient(106deg, rgba(255,0,0,1) 0%, rgba(173,68,68,1) 31%, rgba(116,116,116,1) 85%);
}

.ScoreText {
    font-family: BebasNeue;
    font-size: 80px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline;
}
.container {
    display:inline;
}
.container p {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}
