.body {
}

.Scoreboard {
    text-align: center;
    height: 100px;
}
    .Scoreboard > table {
        padding-left:350px;
        height: inherit;
    }

    .Scoreboard > div {
        vertical-align: top;
        display: inline;
        height:inherit;
    }


#Player1NameHolder {
    min-width: 540px;
    max-width: 540px;
    background-color: black;
}

#Player1ScoreHolder {
    min-width: 95px;
    background-color:white;
}

#ScoreSeperator {
    width: 10px;
    background-color: black;
}

#Player2ScoreHolder {
    background-color: white;
    min-width: 95px;
}

#Player2NameHolder {
    min-width: 540px;
    max-width: 540px;
    background-color: black;
}


.PlayerNameText {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    display: inline;
}

.PlayerPrefixText {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #CACACA;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
    display: inline;
}

.ScoreText {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline;
}
